/* img {
  width: 50%;
}

@media all and (max-width: 480px) {
  img {
    width: 100%;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  background-color: #090b1a;
  color: #fff;
  line-height: 1;
}

main {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-section {
  max-width: 111rem;

  display: grid;
  grid-template-columns: 57rem 54rem;
  grid-template-rows: 44.6rem;

  border-radius: 8px;
  background-color: #1b1938;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
}

.stats-title {
  font-family: "Inter", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.4rem;
  padding: 7.1rem 9.5rem 0 7.2rem;
  margin-bottom: 2.5rem;
}

.stats-title span {
  color: #ab5cdb;
}

.stats-text {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 0 12.4rem 0 7.15rem;
  margin-bottom: 7.2rem;
  opacity: 0.75;
}

.numbers-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6rem;
  padding: 0 14.7rem 5.9rem 7.15rem;
}

.companies {
  margin-right: 1.3rem;
}

.box p:first-child {
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  margin-bottom: 3px;
}

.box p:last-child {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 1px;
  opacity: 0.6;
  text-transform: uppercase;
}

.stats-img {
  width: 100%;
  opacity: 0.85;
  border-radius: 0 8px 8px 0;
  filter: invert(30%) sepia(45%) saturate(450%) hue-rotate(225deg)
    brightness(80%) contrast(155%);
}

@media all and (max-width: 71.8em) {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 56.25%;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .stats-section {
    max-width: 60rem;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .stats-img {
    width: 100%;
    opacity: 0.85;
    border-radius: 8px 8px 0 0;
    filter: invert(30%) sepia(45%) saturate(450%) hue-rotate(225deg)
      brightness(80%) contrast(155%);
  }

  .stats-title {
    font-size: 3.4rem;
    line-height: 3.2rem;
    text-align: center;
    padding: 0 8.15rem 0 8.15rem;
    margin: 4rem 0 2.6rem 0;
  }

  .stats-text {
    text-align: center;
    padding: 0 5.2rem 0 5.15rem;
    margin-bottom: 4rem;
  }

  .numbers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 2.4rem; */
    padding: 0 4.6rem 0 4.6rem;
    margin-bottom: 5.2rem;
    text-align: center;
  }

  .companies {
    margin-right: 0;
    text-align: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
  }

  .box p {
    text-align: center;
  }

  .box p:first-child {
    margin-bottom: 2px;
  }
}

@media all and (max-width: 34.5em) {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 56.25%;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .stats-section {
    max-width: 32.7rem;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .stats-title {
    font-size: 2.8rem;
    line-height: 3.2rem;
    text-align: center;
    padding: 0 3.15rem 0 3.15rem;
    margin: 4.5rem 0 2rem 0;
  }

  .stats-text {
    text-align: center;
    padding: 0 3.4rem 0 3.3rem;
    margin-bottom: 4rem;
  }

  .stats-img {
    width: 100%;
    opacity: 0.85;
    border-radius: 8px 8px 0 0;
    filter: invert(30%) sepia(45%) saturate(450%) hue-rotate(225deg)
      brightness(80%) contrast(155%);
  }

  .numbers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding: 0 3.3rem 0 3.4rem;
    margin-bottom: 3.4rem;
  }

  .companies {
    margin-right: 0;
    text-align: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
  }

  .box p {
    text-align: center;
  }

  .box p:first-child {
    margin-bottom: 3px;
  }
}
